.box{
    height: 212px;
    width: 280px;
    background-image: url('1.jpg');
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    margin: 200px auto;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.overlay{
    height: 212px;
    width: 280px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: -212px;
    right: 0px;
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
}

.box:hover .overlay{
    top: 0px;
}